# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

    apiKey: "AIzaSyDxh0dW-Rtt32xJFvmHbBXE5KezIUAdlg4",
    authDomain: "chatlogin-react.firebaseapp.com",
    databaseURL: "https://chatlogin-react.firebaseio.com",
    projectId: "chatlogin-react",
    storageBucket: "chatlogin-react.appspot.com",
    messagingSenderId: "936758930190",
    appId: "1:936758930190:web:2cf09c53af929444f4455f",
    measurementId: "G-X78MBMLZVJ"

.env